<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!--  green background color rgba(0,200,100,.5) -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus nulla sint nemo expedita est, et amet explicabo provident cum deserunt, obcaecati dolores quaerat, odio perspiciatis aspernatur id optio laboriosam quas qui ea. Architecto est sed sit obcaecati, dolor voluptate quia harum nihil voluptates totam. Hic necessitatibus illo exercitationem quam eveniet?</p>
    </body>
</html>

<!--
    addItem(item){
        let name = item.name;
        let product = item;
        let varOne = arry1.filter( item => item.name ==== name);
        if (varOne.length > 0){
            varOne = varOne[0];
            varOne.itemCount ++;
            let varTwo = arry1.filter( item => item.name !== name);
            varTwo.push(varOne);
            postAddItem(varTwo);
        }else{
            postAddItem(product);
    }
}
-->
<!--            
                xxxxxxx 1.)xxxxxx Add favorite selector to coffees.   
                xxxxxxx 2.) xxxxFix functionality of shopping cart.
                xxxx 3.) xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Add functionality to coffee button on home screen.
                xxxx 4.) xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Create Login screen and button.
                xxx5.) xxxxx Create bottom tabs for Contact and About.
                xxxx 6.) xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxAdd selector for region intour search. 
                xxxx7.) !Fill out About info.
                8.) !Turn off pop-up warning.
                xxxx 9.) xxxxxxxxxxxxxxxxxxxxxxxxxxx Adjust Colors to new values.
                xxxx 10.) xxxxxxxxxxxxxxxxxxxxxxxxxxxx Build intro component.
                xxxx 11.) xxxxxxxxxxxxxxxxxxxxxxx Make cart button stay at top.
                xxxx12. ) xxxxxxxxxxx!Set up Comments.
                14.) connect coffee component to redux store.
                15.) get rid of unused components and imports.
                
                                            -->
